<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사다리게임</title>
  <link rel="stylesheet" href="/component/css/bootstrap.min.css"/>
</head>
<body>
<br>
<br>
<br>
<div class="container text-center">
  <div class="row justify-content-md-center">
    <h1>사다리 게임</h1>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <form th:action="@{/}" action="#" th:object="${inputForm}" method="post" novalidate class="row justify-content-md-center" >
      <div class="col col-lg-4">
        <label for="names" class="form-label">참여할 사람 영어이름을 입력하세요. (이름은 쉼표(,)로 구분하세요)</label>
        <input type="text" class="form-control" th:field="*{names}" id="names" placeholder="pobi,honux,crong,jk">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('names')}" th:errors="*{names}">names
          Error</small>
        <br>
        <label for="resultInfo" class="form-label">실행 결과를 입력하세요. (결과는 쉼표(,)로 구분하세요)</label>
        <input type="text" class="form-control" th:field="*{resultInfo}" id="resultInfo" placeholder="꽝,5000,꽝,3000">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('resultInfo')}" th:errors="*{resultInfo}">result
          Error</small>
        <br>
        <label for="ladderHeight" class="form-label">최대 사다리 높이는 몇 개인가요? (2~30 사이의 숫자를 입력하세요.)</label>
        <input type="text" class="form-control" th:field="*{ladderHeight}" id="ladderHeight" placeholder="5">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('ladderHeight')}" th:errors="*{ladderHeight}">result
          Error</small>
        <br>
        <button class="btn btn-primary justify-content-center" type="submit">제출
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
