#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input {
    margin-top: 10px;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px 2px #ddd;
    text-align: center;
    font-size: 20px;
}
button {
    margin-top: 30px;
    background-color: antiquewhite;
    width: 30%;
    height: 5%;
    border-radius: 10px;
    border: none;
}
#result{
    font-size: 30px;
}
#resultLadder{
    font-size: 20px;
}

