<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">

    <title>Document</title>
</head>
<body>
    <div id = "wrap">
        <h1>결과</h1>
        <div id="resultLadder" name = "resultLadder" >
            <pre><span th:each = "temp:${userName}">[[${temp}]]&nbsp</span></pre>
            <pre> <div th:text="${value}">username</div></pre>
            <pre><span th:each = "temp:${resultName}">&nbsp&nbsp[[${temp}]]&nbsp</span></pre>
        </div>
     
            <input type="text">
            <button type="button">검색</button>

        

    </div>
    
</body>
</html>