<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>사다리 게임</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <label>사다리 게임 결과</label>
  <!--사다리 참여 이름 -->
  <div>
    <span th:each="name : ${names}" th:text="${name}"/>
  </div>

  <!--사다리 -->
  <div th:each="line : ${ladder}">
    <span th:each="point : ${line}" th:text="${point}"/>
  </div>

  <!--사다리 도착 결과 -->
  <div>
    <span th:each="dst : ${destinations}" th:text="${dst}"/>
  </div>

  <!-- 전체 결과 -->
  <div th:each="ladderResult : ${ladderResults}">
    <span th:text="${ladderResult}"/>
  </div>
</div>
</body>
</html>
